{% extends "base.html" %}

{% block title %}
        <title>UIM:: Feria Iberoamericana de Productos y Servicios Municipales</title>
{% endblock %}


{% block barra_header %}
	<div data-role="header">
		<a href="{% url maint_home %}" data-icon="back">Volver</a>
		<h1>EXPO UIM</h1>
	</div>
{% endblock %}

{% block contenido %}
	<ul data-role="listview" data-inset="true" data-filter="false">
	{% for s in oStand %}
		<li>
			<a href="{% url maint_stand s.id %}"><p><h3>{{s}} &nbsp;&nbsp;&nbsp;  <small>({{s.pais}})</small></h3></p></a>
			
		</li>
	{% endfor %}
	</ul>
{% endblock %}
